{% extends 'base.html.twig' %}

{% block title %}New Car{% endblock %}

{% form_theme CarForm 'bootstrap_5_horizontal_layout.html.twig' %}

{% block body %}
    <br><h1 style="font-family: Optima, sans-serif"><center>New Car</center></h1><br>

    <div style="width: 90%;">
        <center>{{ form_start(CarForm) }}
        {{ form_row(CarForm.plate) }}
        {{ form_row(CarForm.plugType) }}</center>
    </div>

    <center><button type="submit" class="btn btn-outline-secondary text-center rounded-pill">Add</button></center>
    {{ form_end(CarForm) }}
{% endblock %}